<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p %c{1} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="io.pivotal.bds.gemfire.geo" level="debug">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
