export AWS_ACCESS_KEY_ID=AKIAJE6MJEHSL7JPAWSA
export AWS_SECRET_ACCESS_KEY=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
export AWS_SSH_PRIVATE_KEY_FILE=~/projects/gemfire-fe/credentials/gemfire-fe.pem
export AWS_REGION=us-west-2
