[Unit]
Description=Gemfire Locator
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ locator_user }}
Group={{ locator_group }}
ExecStart=/opt/gemfire/bin/gfsh start locator --name={{ ansible_hostname }} --port={{ locator_port }} --locators={{ locator_spec }}
TimeoutSec=5min
ExecStop=/opt/gemfire/bin/gfsh stop locator --dir={{ ansible_hostname }}
WorkingDirectory=/home/{{ locator_user }}
PIDFile=/home/{{ locator_user }}/{{ ansible_hostname }}/vf.gf.locator.pid

[Install]
WantedBy=multi-user.target
